$imgUrl: "~@/assets/images/pc/";
$contentWidth: 1320px;

.en {
  .solution {
    .solution-imgs {
      .solution-imgs-layout {
        .solution-imgs-layout-center {
          line-height: 40px;
        }
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background: url("#{$imgUrl}solutionBannerBg.jpg") no-repeat center / cover;
  .bannerDesc {
    display: flex;
    justify-content: flex-end;
    width: $contentWidth;
    font-size: 60px;
    line-height: 90px;
    color: #fff;
    p {
      width: 60%;
      text-align: right;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  background: #f5f6f8;

  .mainWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1320px;
    font-size: 22px;
    color: #222;
    padding-bottom: 78px;

    .bigTitle {
      font-size: 40px;
      color: #222;
      padding: 70px 0 80px 0;
      text-align: center;
    }
  }
}

.solution-imgs {
  .solution-imgs-layout {
    display: flex;
    flex-wrap: wrap;

    .solution-common {
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 440px;
      height: 310px;

      img {
        width: 114px;
        height: 130px;
      }

      span {
        color: #1b1c1d;
        font-size: 22px;
        padding-top: 20px;
      }
    }

    .solution-imgs-layout-top,
    .solution-imgs-layout-bottom {
      width: 100%;

      .item {
        float: left;
      }
    }

    .solution-imgs-row {
      // display: flex;
      // flex-wrap: wrap;
      // flex-direction: column;
    }

    .solution-imgs-layout-center {
      width: 880px;
      height: 620px;
      background: #21bdff;
      color: #fff;
      font-size: 22px;
      line-height: 50px;

      // overflow: hidden;
      // padding: 20px 20px;
      .item-active {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 168px;

        span:first-child {
          font-size: 30px;
          line-height: 30px;
          padding-bottom: 46px;
        }
      }
    }
  }
}
